.community-stats-page {
  padding: 0 20px;

  .statistics-container {
    display: block;

    .statistic-block {
      text-align: center;
      border: 1px solid black;
      padding: 100px;
    }

    .statistic-block + .statistic-block {
      margin-top: 10px;
    }
  }
}

/* ----------- Non-Retina Screens ----------- */
@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
  .community-stats-page {
    padding: 0 50px;
    .title {
    }

    .statistics-container {
      display: flex;
      justify-content: space-between;

      .statistic-block {
        text-align: center;
        border: 1px solid black;
        padding: 130px;
      }

      .statistic-block + .statistic-block {
        margin-left: 10px;
        margin-top: 0;
      }
    }
  }
}

/* ----------- Retina Screens ----------- */
@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
  .community-stats-page {
    padding: 0 50px;
    .title {
    }

    .statistics-container {
      display: flex;
      justify-content: space-between;

      .statistic-block {
        text-align: center;
        border: 1px solid black;
        padding: 130px;
      }

      .statistic-block + .statistic-block {
        margin-left: 10px;
        margin-top: 0;
      }
    }
  }
}
