.header {

  nav {
    border-bottom: 2px solid #1a202c;
    margin: 0 0 10px 0;

    ul {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      padding: 0;
      list-style: none;

      li.logo {
        height: 100%;
        display: block;
        margin-right: auto;

        .ui.image {
          display: inline-block;
        }

        .logo-text {
          margin-left: 5px;
          color: black;
          font-size: 20px;
        }
      }

      li a {
        cursor: pointer;
        padding: 10px 15px;
      }
    }
  }
}
