.header {
  nav {
    ul {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      padding: 0;
      list-style: none;

      li.logo {
        margin-right: auto;
        .ui.image {
          display: inline-block;
        }
        .logo-text {
          margin-left: 5px;
          color: black;
          font-size: 20px;
        }
      }
      li {
        cursor: pointer;
        padding: 10px 15px;
      }
    }
  }
}
